{%- render 'section-spacing-collapsing' -%}

<style>
  .videos {
        position: relative;
        width: 100%;
        max-width: 800px;
        margin: auto;
    }
  .hideonmobile 
      {
        display:block;   
      }
   .overlay-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        text-align: center;
          width: 90%;
     display:none; 

    }
   @media (max-width: 767px) {
      .overlay-text {
          display: block;
      }
     .hideonmobile 
      {
        display:none !important;   
      }
  }

    /* Responsive video style */
    .videos video {
        width: 100%;
        height: auto;
    }

    /* Overlay text container */
   

    /* Style for heading */
    .overlay-text h1 {
        font-size: 2em;
        margin: 0;
      text-transform: uppercase;
    }

    /* Style for paragraph text */
    .overlay-text p {
        font-size: 1.2em;
        margin: 0;
    }
</style>

{%- assign ss = section.settings -%}
{%- capture classes -%}
    {%- if ss.overlay_on_mobile -%} 
        hideonmobile title-wrapper 
    {%- else -%}
        title-wrapper
    {%- endif -%}
{%- endcapture -%}
  


{%- capture overlaytext -%}
    <div class="overlay-text">
        <h1 class="title">{{ ss.title }}</h1>
        <div class="subtitle">{{ ss.subtitle }}</div>
    </div>
{%- endcapture -%}

<div {% render 'section-properties' %}>
  <div class="video-wrapper">
     {%- if ss.video_position =='after' -%}
      {{  headingtext }}
      {%- endif -%}
    <div class="videos">
       <video class="video" loop muted autoplay playsinline>
        <source src="{{ product.metafields.custom.product_video | file_url }}" type="video/mp4">
       </video> 
        {%- if ss.overlay_on_mobile -%}
          {{ overlaytext }}
        {%- endif -%}
    </div>
      {%- if ss.video_position =='before' -%}
      {{  headingtext }}
      {%- endif -%}
    
  </div>
</div>

{% schema %}
  {
    "name": "WD Unique Product Video",
    "tag": "section",
    "class": "wd-video",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "richtext",
        "id": "subtitle",
        "label": "Subtitle",
        "default": "<p>Unlike generic brands that merely scale up sizes, Strongsize is solely dedicated to the big and tall community. Our approach is different: we functionally engineer our clothing from scratch, exclusively for big and tall body types.</p>"
      },
      {
        "type": "text",
        "id": "link_text",
        "label": "Link text"
      },
      {
        "type": "url",
        "id": "link_url",
        "label": "Link URL"
      },
      {
        "type": "checkbox",
        "id": "overlay_on_mobile",
        "label": "Overlay on Mobile",
        "default": false
      },
      {
        "type": "select",
        "id": "video_position",
        "label": "Video Position",
        "options": [
          {
            "value": "before",
            "label": "Video First"
          },
          {
            "value": "after",
            "label": "Text First"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "WD Unique Product Video",
        "settings": {
        }
      }
    ]
  }
{% endschema %}





